@tailwind base;
@tailwind components;
@tailwind utilities;

.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;

    background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%);

}

.img-gradient img {
    display: block;
}